{{ $home     := site.BaseURL }}
{{ $title    := site.Title }}
{{ $subtitle := site.Params.home.subtitle | markdownify }}
{{ $buttons  := site.Params.home.buttons }}
{{ $logo     := site.Params.logos.hero }}
{{ $logoUrl  := printf "img/logos/%s" $logo | relURL }}
{{ $desc     := site.Params.description }}
<section class="hero is-primary is-medium is-bold pattern-dots-sm">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-one-quarter">
          <img class="is-hero-logo" src="{{ $logoUrl }}" alt="{{ $title }} hero logo">
        </div>

        <div class="column">
          <p class="title is-size-1 is-size-2-mobile has-text-weight-bold has-shadow{{ if $desc }} is-spaced{{ end }}">
            {{ $title }}
          </p>

          {{ with $desc }}
          <p class="subtitle is-size-3 is-size-4-mobile has-text-weight-medium has-shadow">
            {{ . }}
          </p>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
