{{ $info        := site.Params.info.columns }}
{{ $explanation := site.Params.explanation.columns }}

{{ with $info }}
<section class="section has-background-white-bis">
  <div class="container">
    <div class="columns is-variable is-8">
      {{ range . }}
      <div class="column">
        <p class="title has-text-primary is-size-3 is-size-4-mobile">
          {{ .title }}
        </p>

        <hr class="has-background-grey-lighter" />

        <div class="content is-medium has-text-weight-medium">
          {{ .content | markdownify }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}

<!--
{{ with $explanation }}
<section class="section has-background-light has-text-dark has-extra-bottom-padding">
  <div class="container">
    <div class="columns is-variable is-8">
      {{ range . }}
      <div class="column">
        <div class="content is-medium has-text-weight-medium">
          {{ . | markdownify }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
-->
